In [1]:
import pandas as pd

In [2]:
df= pd.DataFrame([[4, 7, 10],[5, 8, 11],[6, 9, 12]], index=[1, 2, 3], columns=['a', 'b', 'c'])

In [3]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [5]:
df2 = pd.Dataframe({'name' : ['John', 'Joe', 'Sally'], 'address': ['Toronto', 'Kingston', 'Oakville']}, idex=['student_1', 'studnet_2', 'studnet_3'])`

AttributeError: module 'pandas' has no attribute 'Dataframe'